/* Education Container */
.education-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-height: 100%;
    background-color: var(--pastel-02);
}

.education-header h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.education-intro {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4;
}

/* Education Sections */
.education-section {
    margin-bottom: 2rem;
}

.education-section h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.education-section h2 i {
    font-style: italic;
    font-size: 1rem;
    color: var(--pastel-00);
}

/* Education Cards */
.education-card {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--pastel-00);
    padding: 1.5rem;
}

/* Target only the last card in the previous section */
.education-section.previous .timeline .education-card:last-child {
    margin-bottom: 5em;
}

.education-card h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.edu-date {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--pastel-00);
    border-radius: 5px;
}

.school-type, .school-location, .edu-description {
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1rem;
}

/* Education Highlights */
.edu-highlights {
    list-style-type: none;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.edu-highlights li {
    position: relative;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.edu-highlights li::before {
    content: "•";
    position: absolute;
    left: -1rem;
    color: var(--pastel-00);
}

/* Links */
.education-card a {
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

.education-card a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .education-container {
        padding: 1rem;
    }

    .timeline {
        padding-left: 1.5rem;
    }

    .education-card::before {
        left: -1.5rem;
    }

    .education-card h3 {
        flex-direction: column;
        align-items: flex-start;
    }

    .edu-date {
        margin-top: 0.5rem;
    }
}
