@import url('../main.css');

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about-content {
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

.about-container h1 {
    font-size: 2rem;
    color: var(--color-3);
    margin: 0;
}

.about-content p {
    font-size: 1.2rem;
    margin: 2rem;
}
